page-billing {
    body{
        font-family: 'Montserrat', sans-serif !important;
      }
    .bill-icon{
        font-size:20px;
    }

    .bill-list-height{
        height:400px;
    }
    p{
        color:grey;
        line-height: 20px;
    }
    .coupon-input{
        font-size:18px;
    }

}
